@import url("https://fonts.googleapis.com/css2?family=Megrim&family=Nunito:wght@500&family=Zen+Loop&display=swap");
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  font-family: "Poppins";
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

#menu {
  position: absolute;
  width: 100%;
  top: 50%;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.25);
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  font-family: "Nunito", sans-serif;
  font-size: 1em;
  cursor: default;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#startTitle {
  font-size: 6em;
  margin-bottom: 0.2em;
  letter-spacing: 0.2em;
  font-family: "Megrim", cursive;
}

#startHelp {
  font-size: 1.5em;
}

#menuScreen {
  background-color: rgba(0, 0, 0, 0.25);
}

#settings {
  width: 30rem;
}

button {
  border: none;
  background-color: black;
  color: white;
  height: 2em;
  padding: 0.2em;
  margin: 0.2em;
  transition: 0.1s;
}

button:hover {
  border: none;
  background-color: white;
  color: black;
}
