@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Megrim&family=Nunito:wght@200&family=Raleway:ital,wght@0,100;1,200&family=Syne&family=Zen+Loop&display=swap");

$border-radius: 2px;
//$border-width: 1px;
$btn-focus-box-shadow: none !important;
$btn-active-box-shadow: none !important;
$dropdown-bg: rgb(50, 50, 50);
$dropdown-link-hover-bg: rgb(39, 39, 39);
$dropdown-link-color: white;
$dropdown-link-hover-color: white;
$dropdown-link-active-color: rgb(50, 50, 50);
$dropdown-link-active-bg: white;
$spinner-height: 5rem;
$spinner-width: 5rem;
$link-decoration: none !important;

html,
body {
  height: 100vh;
  font-family: "Nunito", sans-serif !important;
}

h1,
h2 {
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  font-size: 5rem !important;
  margin-bottom: 1rem !important;
}

h2 {
  font-size: 3rem !important;
  margin-bottom: 2rem !important;
}

.btn {
  outline: solid rgb(129, 129, 129) 1px !important;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  min-width: 6rem;
  height: 2.5rem;
  text-decoration: none !important;
}

#actionButtons {
  margin-top: 1rem;
}

.dropdown {
  margin-bottom: 1rem;
  height: 2.5rem;
}

.dropdown-menu {
  text-align: center !important;
  width: 10rem;
}

.dropdown label {
  width: 5rem;
  text-align: right;
  padding-right: 0.5rem;
  font-weight: 400;
  height: 2.5rem;
}

.dropdown-toggle {
  width: 10rem;
}

$theme-colors: (
  primary: rgba(80, 80, 80, 0.25),
  secondary: rgba(80, 80, 80, 0.25),
);

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

#menu {
  position: absolute;
  width: 100%;
  top: 50%;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.25);
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  font-size: 1em;
  cursor: default;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#startHelp {
  font-size: 1.5rem;
}

#menuScreen {
  background-color: rgba(0, 0, 0, 0.25);
  font-family: "Nunito";
}

#errorScreen {
  background-color: rgba(0, 0, 0, 1);
}

#loadScreen {
  background-color: rgba(0, 0, 0, 1);
}

button {
  border: none;
  background-color: black;
  color: white;
  height: 2em;
  padding: 0.2em;
  margin: 0.2em;
  transition: 0.1s;
}

button:hover {
  border: none;
  background-color: white;
  color: black;
}

@import "bootstrap/scss/bootstrap";
